/*Reset*/
* {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  /*font-family: 'Roboto', sans-serif;*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Variáveis*/
:root {
  --main-color: #5e34c0;
  --main-text-color: #fff;
  --border-color: #999;
  --bio-bg-color: #1e2a3a;
  --bio-border-color: #293544;
  --about-bg-color: #111821;
}



/*Geral*/
.highlight {
  color: var(--main-color);
}

/*Container*/
#container {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
}

#bio-container {
  flex: 1 1 20%;
  min-height: 100vh;
  background-color: var(--bio-bg-color);
  text-align: center;
  padding: 30px 12px;
  border-right: 5px solid var(--bio-border-color);
 
}

#about-container {
  flex: 1 1 80%;
  min-width: 100vh;
  background-color: var(--about-bg-color);
  padding: 50px;
}

/*Bio Container*/
#bio-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 25px;
}

#bio-container h2 {
  margin-bottom: 25px;
}

#bio-container p {
  margin-bottom: 20px;
}

#bio-container #welcome-text {
  font-weight: bold;
}

#social-container {
  display: flex;
  justify-content: center;
  list-style: none;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 25px;
  padding-bottom: 25px;
}

#social-container li {
  flex: 1 1 0;
  max-width: 60px;
}

#social-container li a {
  color: var(--main-color);
  font-size: 30px;
}

#email-container {
  display: flex;
  justify-content: center;
}

:is(#email-container) ion-icon, a {
  flex: 1 1 0;
}

#email-container a {
  color: var(--main-color);
  text-decoration: none;
  max-width: 225px;
}

#email-container ion-icon {
  color: var(--main-color);
  font-size: 20px;
  margin-right: 5px;
  max-width: 20px;
}

/*About Container
h2 {
  color: #5e34c0;
  font-size: 2em;
  font-weight: 100;
  padding: 0 100px;
}*/

h2 span{

  position: relative;
  color: rgba(255,255,255,0.0);
  animation: displayText 9s infinite;
  animation-delay: calc(-3s * var(--i));
}

@keyframes displayText{
  0% {
    display: inline-block;
  }
  33.33%, 100% {
    display: none;
  }
}
h2 span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #5e34c0;
  overflow: hidden;
  border-right: 4px solid ;
  filter: drop-shadow(0 0 5px #5e34c0) drop-shadow(0 0 25px #5e34c0);
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0%, 10%, 100% {
      width: 0;
  }
  70%, 90% {
      width: 100%;
  }
}

#name {
  font-size: 42px;
  margin-bottom: 15px;
}

#title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.description {
  max-width: 75%;
  margin-bottom: 10px;
}

#btn-projects {
  font-weight: bold;
  font-size: 16px;
  color: var(--main-text-color);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  text-decoration: none;
  transition: .3s;
  margin: 25px 0;
  padding: 12px 10px;
  width: 150px;
  text-align: center;
  display: flex;

  &:hover{
    background-color: transparent;
  }
}

:is(#btn-projects) ion-icon, span {
  flex: 1 1 0;
}

#btn-projects ion-icon {
  font-size: 20px;
  max-width: 20px;
}


#skills-section-title {
  border-top: 1px solid var(--border-color);
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
}

#skills-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.skills-box {
  flex: 1 1 33%;
  max-width: 33%;
  margin-bottom: 35px;
}

.skills-title {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: bold;
  padding-left: 10px;
  border-left: 5px solid var(--main-color);
}

.skills-box i {
  font-size: 45px;
  margin-right: 10px;
}

/*Mobile*/
@media(max-width: 450px){

  #container {
    flex-direction: column;
  }

  #bio-container {
    min-height: auto;
    border-right: none;
    border-bottom: 5px solid var(--border-color);
  }

  #bio-container h2 {
    display: none;
  }

  #bio-container p {
    max-width: 60%;
    margin: 10px auto;
  }

  #about-container {
    text-align: center;
    padding: 30px;
    min-width: 100%;
  }

  #about-container .description {
    margin: 10px auto;
    max-width: 100%;
    line-height: 26px;
  }

  #btn-projects {
    margin: 20px auto;
  }

  .skills-box {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 40px;
    text-align: left;
  }

  .skills-box i {
    font-size: 45px;
  }
}


.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}

.container .card{
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  background: rgba(255,255,255,0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
}

.container .card .content{
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

.container .card:hover .content{
  transform: translateY(0px);
  opacity: 1;
}

.container .card .content h2{
  position: absolute;
  top: -80px;
  right: 30px;
  font-size: 8em;
  color: rgba(255,255,255,0.05);
  pointer-events: none;
}

.container .card .content h3{
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

.container .card .content p{
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

.container .card .content a{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  text-decoration: nome;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}